---
import emote from "../assets/tv_astro.png";
import { Image } from "@astrojs/image/components";

const { title } = Astro.props
---
<div class="grid lg:grid-cols-2 place-items-center">
    <div>
        <Image
              src={emote}
              alt={title}
              width={500}
              aspectRatio="1"
              quality={80}
              format="webp"
        />
    </div>
    <div>
        <h1 class="text-7xl font-bold">{title}</h1>
        <h2 class="text-2xl">Created by Fabio Biondi</h2>
        <p class="text-lg mt-4 text-slate-300 max-w-xl">
            An amazing front-end framework to easily create fast and SEO friendly applications by using SSG, SSR and Partial Hydration
        </p>
    </div>
</div>
